/* Centralizar o formulário e adicionar bordas arredondadas */
body {
    font-family: Arial, sans-serif;
    background: #f9f9f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.base-container {
    background: #fff;
    padding: 40px;
    border-radius: 15px; /* Aumentei o arredondamento das bordas */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    max-width: 400px;
    width: 90%;
}

.base-container h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #000;
    text-align: center;
}

.base-container h1 span {
    color: #00b8d4; /* Cor aplicada no span do título */
}

.base-container form {
    display: flex;
    flex-direction: column;
}

.base-container label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.base-container input[type="text"],
.base-container input[type="email"],
.base-container input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px; /* Borda arredondada */
    font-size: 1rem;
}

.base-container .btn {
    padding: 10px 20px;
    border-radius: 5px; /* Borda arredondada */
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

.btn-primary {
    background: #000;
    color: #fff;
}

.btn-primary:hover {
    background: #333;
}

.base-container .login-link {
    margin-top: 15px;
    font-size: 0.9rem;
    text-align: center;
    color: #777;
}

.base-container .login-link a {
    color: #00b8d4;
    text-decoration: none;
}

.base-container .login-link a:hover {
    text-decoration: underline;
}

/* Logo centralizada */
.logo {
    width: 30%;
    height: 30%;
    object-fit: cover;
    border-radius: 20%;
    display: block;
    margin: 0 auto 20px auto; /* Centraliza a imagem horizontalmente */
}
